:root {
  --max-width: 520px;
  --primary: #555BFF;
  --border: 1px solid #999;
  --white: rgb(240, 240, 240);;
  --black: black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: var(--white);
    background: var(--black);
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  body {
    color: var(--black);
    background: var(--white);
  }
}