/* The main container */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 12px;
}

.main {
  height: 100%;
  max-width: var(--max-width);
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* The top of the container */
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border: none;
}

.action:hover {
  border-radius: 48rem;
  cursor: pointer;
}

.search {
  outline: none;
  border: none;
  border-radius: 0.4rem;
  padding-left: 0.8rem;
  background: #333;
}

.search:focus {
  outline: var(--border);
  border: none;
}

/* Beginning of the list */
.header_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.4rem;
}

.heading {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 800;
}

/* Total and checkout section */
.details_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1rem;
}

.details_title {
  font-weight: 500;
  color: #777;
}

.details {
  border-radius: 0.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 12px;
}

.details>h3,
.details>p {
  margin: 12px;
}

.details>h3 {
  font-size: 1rem;
}

.details>p {
  font-weight: 600;
  font-size: 1.2rem;
}

.total,
.checked {
  color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Container for the list */
.list_container {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

/* Individual list items */
.list_item_container {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 0.4rem;
  margin-bottom: 28px;
  width: 100%;
  padding: 16px;
}

.list_item_container:first-child {
  margin-top: 0;
}

.list_item_container:last-child {
  margin-bottom: 2rem;
}

.list_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  border-radius: 0.4rem;
  font-size: 1.25rem;
  padding-left: 16px;
  width: 100%;
}

.list_item>p {
  margin: 0;
}

.list_item>div>p {
  margin: 0;
}

.item_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.name_label {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-weight: 600;
  font-size: 1.4rem;
}

.price_label,
.quantity_label,
.total_label {
  font-size: 0.8rem;
  color: #777;
}

.total_currency {
  color: #777;
}

.total_label {
  color: white;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  transition: all 600ms ease-in-out;
}

.button:hover {
  box-shadow: 0 0 16px 0 var(--primary-shadow);
}


/* Background of the input modal */
.modal_container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.edit_modal_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

/* Container for the input modal */
.item_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  width: 22rem;
  height: fit-content;
  border-radius: 0.8rem;
  position: fixed;
  z-index: 100;
  margin-top: 0;
}

.edit_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  width: 22rem;
  height: fit-content;
  border-radius: 0.8rem;
  position: fixed;
  z-index: 100;
  margin-top: 0;
}

.item_heading {
  align-self: center;
  font-size: 1.4rem;
  font-weight: 800;
}

.name_input {
  width: 100%;
  margin-bottom: 12px;
}

.input_label {
  margin: 0;
  padding-bottom: 0.2rem;
  font-weight: 500;
}

.item_name,
.item_price,
.item_quantity,
.store_name {
  width: 100%;
  border: none;
  border-radius: 0.4rem;
  height: 2.2rem;
  padding-left: 0.8rem;
}

.item_quantity {
  width: 95%;
}

.item_container>div>input:focus {
  outline: var(--border);
  border: none;
}

.item_container>div>div>input:focus {
  outline: var(--border);
  border: none;
}

.price_input {
  width: 100%;
  margin-bottom: 12px;
}

.quantity_input {
  flex: 2;
}

.quantity_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.8rem;
}

.store_name_bubble {
  position: absolute;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 4px 12px;
  border-radius: 120px;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
  color: var(--primary);
  top: -16%;
  left: 0;
}

.store_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.store_toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

.store_input {
  flex: 1.8;
  margin: 0;
  padding: 0;
}

.store_switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 40px;
  margin: 0;
}

.store_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #999;
  transition: 0.4s;
  border-radius: 34px;
}

.store_slider:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  border-radius: 50px;
  transition: 0.4s;
}

input.store:checked+.store_slider {
  background: var(--primary);
}

input.store:checked+.store_slider:before {
  transform: translateX(25px);
}

.store_switch>input {
  display: none;
}

.add_item {
  margin-top: 0;
  margin-bottom: 24px;
  width: 100%;
  padding: 16px 0;
  border-radius: 2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: gray;
}

/* Sign In Form */
.signin_container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}

.form_input {
  margin-top: 8px;
}

.text_input {
  padding: 16px 8px;
  outline: 0;
  border: 0;
}

.text_input:focus {
  outline: 1px solid var(--primary);
}

.form_button {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--white);
  padding: 16px 8px;
  border-radius: 4px;
  width: fit-content;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.form_bottom {
  font-size: smaller;
}

.change_form {
  cursor: pointer;
  color: var(--primary);
}

/* List of checked items */
.checked_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.checked_section>p {
  margin: 0;
  margin-bottom: 1.4rem;
}


/* Toolbar at the bottom */
.toolbar {
  max-width: var(--max-width);
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 20;
  transform: translateX(-50%);
  padding-bottom: 12px;
  padding-top: 0;
  background: var(--black);
}

.tool_action {
  border-radius: 48rem;
  padding: 16px 28px;
  font-size: medium;
  font-weight: 600;
}

.tool_action:hover {
  border-radius: 48rem;
  cursor: pointer;
}

.currency {
  color: #777;
  font-weight: 800;
  font-size: 0.8rem;
}

/* Small screens */
@media (max-width: 625px) {

  .main,
  .toolbar {
    max-width: 100%;
    margin: 0;
  }

  .main {
    padding: 0 8px;
  }

  .item_container {
    width: 100%;
    padding: 16px 12px;
    margin-top: 0;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .action {
    background: black;
  }

  .action:hover {
    background: #111;
  }

  .details {
    background: #111;
    border: 1px solid #333;
  }

  .list_item {
    background: #111;
  }

  .input_label {
    color: white;
  }

  .item_name,
  .item_price,
  .item_quantity,
  .store_name {
    color: white;
    background: #333;
  }

  .toolbar {
    background: black;
  }

  .store_name_bubble {
    background-color: #222;
  }

  .tool_action:hover {
    background: #111;
  }

  .item_container {
    background-color: #222;
  }

  .list_item_container {
    background: #111;
  }

  .edit_container {
    background-color: #222;
  }

  .item_detail {
    color: white;
  }

  .currency {
    color: #777;
  }

  .search {
    background: #333;
  }
}


/* Light mode */
@media (prefers-color-scheme: light) {
  .action {
    background: var(--white);
  }

  .action:hover {
    background: rgb(216, 216, 216);
  }

  .details {
    background: white;
    border: 1px solid #999;
  }

  .list_item {
    background: white;
  }

  .input_label {
    color: black;
  }

  .toolbar {
    background: var(--white);
  }

  .tool_action:hover {
    background: #999;
  }

  .list_item_container {
    background: white;
  }

  .item_container {
    background-color: rgb(216, 216, 216);
  }

  .edit_container {
    background-color: rgb(216, 216, 216);
  }

  .item_detail {
    color: black;
  }

  .currency {
    color: black;
  }

  .store_name_bubble {
    background-color: rgb(208, 208, 224);
  }

  .search {
    background: white;
  }
}