.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  min-height: 100vh;
  max-width: min(100%, 24vw);
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.action {
  padding: 4px 12px;
  background: black;
  border: none;
}

.action:hover {
  background: #111;
  border-radius: 48rem;
  cursor: pointer;
}

.heading {
  font-size: 2rem;
  font-weight: 800;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-top: 16px;
}

.tool_action {
  border-radius: 48rem;
  padding: 8px 24px;
}

.tool_action:hover {
  background: #111;
  border-radius: 48rem;
  cursor: pointer;
}

.modal_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #eaeaea;
  z-index: 50;
  opacity: 0.4;
}

.add_item {
  width: 20rem;
  height: 20rem;
  background-color: #222;
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}